.color-picker 
    display: none

.page .page-edit .last-updated .prefix 
    color: #4e6e8e

.page-edit .edit-link a
    color: #4e6e8e

.theme-container.myhomepage 
    .content__default:not(.custom) 
        max-width: 1200px;
        padding: 2rem 0 0;
    .home
        max-width: 100%
        padding: 3.6rem 0 0
        .hero 
            width: 100%
            background: $accentColor
            padding: 1.2rem 0
            h1
                color: #fff
            .description
                color: rgba(255,255,255,.8)
            .action-button
                background-color: #E8B600
        .features
            border-top: none
            max-width: 1200px
            margin: 2.5rem auto 0
            .feature
                padding: 0.6rem 1.2rem
                background: rgba(0,0,0,.02)
                border-radius: 0.5rem
                max-width: 28%
                margin-bottom: 1.2rem
                flex-basis: 28%